.card{
    
        text-align: left;
        background-color:turquoise;
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 15px;       
       padding-right: 20%;   
             
            
        

}