<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div style="padding-left: 17%; padding-top: 3%; padding-bottom: 5%;">
    <div class="col-sm-9">
    <div class="card">
    <div class="card-body">
    <form [formGroup]= "form" (ngSubmit)="submit()" >
    <div>
        <div>
            <input class="form-control form-control-lg" type="text" formControlName="Title" placeholder="Title">
            <br>
            <input class="form-control form-control-lg" type="text" formControlName="Description" placeholder="Description">
        </div>
        <br>
        <input class="form-control form-control-lg" type="text" formControlName="Question1" placeholder="Question1">
        <br>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" >
              </div>
              <h5 style="padding-left: 10%">True</h5>
            </div>
            
        </div>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio">
              </div>
              <h5 style="padding-left: 10%">False</h5>
            </div>
        </div>
    </div>
    <br>
    <div>
        <input class="form-control form-control-lg" type="text" formControlName="Question2" placeholder="Question2">
        <br>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <input type="text" class="form-control" aria-label="Text input with radio button" formControlName="Question2Option1">
        </div>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <input type="text" class="form-control" aria-label="Text input with radio button" formControlName="Question2Option2">
        </div>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <input type="text" class="form-control" aria-label="Text input with radio button" formControlName="Question2Option3">
        </div>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <input type="text" class="form-control" aria-label="Text input with radio button" formControlName="Question2Option4">
        </div>
    </div>
    <br>
    <div>
        <input class="form-control form-control-lg" type="text" formControlName="Question3" placeholder="Question3">
        <br>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <input type="text" class="form-control" aria-label="Text input with radio button" formControlName="Question3Option1">
        </div>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <input type="text" class="form-control" aria-label="Text input with radio button" formControlName="Question3Option2">
        </div>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <input type="text" class="form-control" aria-label="Text input with radio button" formControlName="Question3Option3">
        </div>
        <div class="input-group" style="padding-bottom: 1%; padding-left: 1%; padding-right: 60%;">
            <input type="text" class="form-control" aria-label="Text input with radio button" formControlName="Question3Option4">
        </div>
    </div>
    <br>

    <div>
        <input class="form-control form-control-lg" type="text" placeholder="Question4" formControlName="Question4">
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-lg " [disabled]="!form.valid"  >Submit</button>
</form>
    </div>
    </div>
    </div>

       
    
   
</div>
